In [3]:
import pandas as pd

In [4]:
pd

In [5]:
df2=pd.read_csv('large_nutrition_data.csv')

In [6]:
df2

,Item,Category,Calories,Total Fat,Carbohydrates,Protein,Sodium
0,Nuggets,Vegetarian,415,18,9,24,818
1,Burger,Vegetarian,822,0,65,7,616
2,Wrap,Fast Food,557,48,27,31,780
3,Sandwich,Vegan,155,12,20,18,1135
4,Wrap,Fast Food,335,20,56,21,967
...,...,...,...,...,...,...,...
2995,Fries,Vegetarian,643,41,89,6,676
2996,Nuggets,Vegan,754,6,64,11,70
2997,Taco,Healthy,545,10,45,2,971
2998,Pasta,Fast Food,687,41,50,11,1148
2999,Sandwich,Vegan,529,14,61,29,807

In [7]:
df2.sort_values(by='Calories', ascending=False).head(5)[['Item', 'Calories']]

          Item  Calories
2921     Fries       900
575   Sandwich       900
2401     Pizza       899
359       Soup       898
701      Pasta       898

In [8]:
df2[['Item', 'Sodium']].sort_values(by='Sodium', ascending=False).head(5)

         Item  Sodium
2381     Wrap    1500
1792     Taco    1500
544     Pasta    1500
405     Pasta    1499
440   Nuggets    1498

In [9]:
print(df2[['Item', 'Protein']].sort_values(by='Protein', ascending=False).head(3))

      Item  Protein
584   Taco       40
1653  Soup       40
1663  Wrap       40

In [10]:
df2.groupby('Category')['Calories'].mean()

Category
Fast Food         514.017361
Healthy           522.925424
Non-Vegetarian    536.392744
Vegan             528.469115
Vegetarian        518.430948
Name: Calories, dtype: float64